In [ ]:
!pip install flask_ngrok

In [2]:
import pandas as pd
from flask_ngrok import run_with_ngrok
from flask import request, jsonify, Flask
import random as rk

In [3]:
app = Flask(__name__)
run_with_ngrok(app)

In [4]:
data = [{
    "Number": 1,
    "Name": "Alan",
    "Age": 25,
    "City": "Berlin",
    "Country": "Germany"
}, {
    "Number": 2,
    "Name": "Anna",
    "Age": 26,
    "City": "London",
    "Country": "UK"
},
    {
    "Number": 3,
    "Name": "Pietra",
    "Age": 27,
    "City": "San Francisco",
    "Country": "USA"
},
    {
    "Number": 4,
    "Name": "John",
    "Age": 28,
    "City": "Toronto",
    "Country": "Canada"
},
   {
    "Number": 5,
    "Name": "Luna",
    "Age": 29,
    "City": "Paris",
    "Country": "France"
}
]

In [5]:
@app.route('/index')
def home():
  return data